<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => {:class => "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend> Регистрация нового пользователя </legend>

    <div class="form-group">
      <label class="col-sm-3 control-label">Email</label>
      <div class="col-sm-4">
        <%= f.email_field :email, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Пароль</label>
      <div class="col-sm-4">
        <%= f.password_field :password, class: "form-control input-sm"  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Подтверждение пароля</label>
      <div class="col-sm-4">
        <%= f.password_field :password_confirmation, class: "form-control input-sm"  %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Название компании</label>
      <div class="col-sm-4">
        <%= f.text_field :comp_name, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Юр. наименование</label>
      <div class="col-sm-4">
        <%= f.text_field :law_name, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Юр. адрес</label>
      <div class="col-sm-4">
        <%= f.text_field :law_address, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Почтовый адрес</label>
      <div class="col-sm-4">
        <%= f.text_field :post_address, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">ИНН</label>
      <div class="col-sm-4">
        <%= f.text_field :inn, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">ФИО руководителя</label>
      <div class="col-sm-4">
        <%= f.text_field :fio_ruk, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">ФИО гл. бухгалтера</label>
      <div class="col-sm-4">
        <%= f.text_field :fio_buch, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">ФИО осн. контактного лица</label>
      <div class="col-sm-4">
        <%= f.text_field :fio_main_person, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Городской телефон осн. контактного лица</label>
      <div class="col-sm-4">
        <%= f.text_field :gor_tel_main, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Мобильный телефон осн. контактного лица</label>
      <div class="col-sm-4">
        <%= f.text_field :mob_tel_main, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">ФИО доп. контактного лица</label>
      <div class="col-sm-4">
        <%= f.text_field :fio_dop_person, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Email доп. контактного лица</label>
      <div class="col-sm-4">
        <%= f.email_field :email_dop, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Городской телефон доп. контактного лица</label>
      <div class="col-sm-4">
        <%= f.text_field :gor_tel_dop, class: "form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Мобильный телефон доп. контактного лица</label>
      <div class="col-sm-4">
        <%= f.text_field :mob_tel_dop, class: "form-control input-sm" %>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label" for="offer_title">Ваш сайт</label>
      <div class="col-sm-4">
        <%= f.text_field :site, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="hidden">
      <%= f.text_field :user_role, value: "1" %>
    </div>

   
    <div><%= f.submit "Зарегестрироваться", class: "btn btn-primary" %></div>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>