
<h1>Редактирование предложения</h1>

<%= form_for(@truck,html: { multipart: true, :class => "form-horizontal" }) do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% @truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>  

    <div class="form-group">
      <label class="col-sm-2 control-label" for="region">Регион:</label>
      <div class="col-sm-4">
        <%= f.select :region, options_for_select(Region.all.collect {|region| [region.name]}),{:include_blank => "Выберите регион..."},{class: "form-control input-sm", type: "text"} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="city">Город:</label>
      <div class="col-sm-4">
        <%= f.select :city, options_for_select({},0),{:include_blank => "Выберите город..."},{class: "form-control input-sm", type: "text"} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="car_type">Тип авто</label>
      <div class="col-sm-4">
        <%= f.select :type_avto, options_for_select(["Автобус","Автокран","Бульдозер","Грузовик","Коммунальная техника", "Легкий транспорт","Погрузчик","Прицеп","Сельхозтехника", "Строительная техника","Техника для лесозаготовки","Тягач",
              "Экскаватор"], selected: @truck.type_avto),{:include_blank => "Выберите тип..."},{class: "form-control input-sm"} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Марка</label>
      <div class="col-sm-4">
		<p class: "form-control input-sm"><%= @truck.brand %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Модель</label>
      <div class="col-sm-4">
        <p class: "form-control input-sm"><%= @truck.model %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Год выпуска</label>
      <div class="col-sm-4">
        <%= f.number_field :year, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="probeg">VIN-код:</label>
      <div class="col-sm-4">
        <%= f.text_field :vin_code, class: "form-control input-sm " %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Пробег(км)</label>
      <div class="col-sm-4">
        <%= f.text_field :mileage, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Тип двигателя</label>
      <div class="col-sm-4">
        <%= f.select :engine, options_for_select(["Бензин","Дизель","Гибрид","Электро","Газ"], selected: @truck.engine),{},{class: "form-control input-sm"} %> 
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Объем(л)</label>
      <div class="col-sm-4">
        <%= f.text_field :engv, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Наработка(часов)</label>
      <div class="col-sm-4">
        <%= f.number_field :hofuse, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Состояние</label>
      <div class="col-sm-4">
        <%= f.select :status, options_for_select(["Отличное","Хорошее","Удовлетворительное","Плохое"], selected: @truck.status),{},{class: "form-control input-sm"}  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="photo">Фото</label>
      <div class="col-sm-4">
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="offer_desc">Описание</label>
      <div class="col-sm-4">
        <%= f.text_area :desc, class: "form-control", cols: 50, rows: 7  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="price">Цена:</label>
      <div class="col-sm-4">
        <%= f.text_field :price, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-lg-offset-2">
        <%= f.submit "Создать", class: "btn btn-primary"%>
        <%= link_to 'Закрыть', @truck, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
        <a href="<%= trucks_path %>" class="btn btn-default">Назад</a>

      </div>
    </div>
  </fieldset>
<% end %>