<script>
  $(function() {
      $('.spoiler-body').hide();
      $('.spoiler-head').click(function(){
          $(this).next().toggle();
      })
  });

$(document).ready(function(){
  $(":checkbox").change(function() {
    if (!$(this).is(":checked")){
      console.log("Выключить");
      $('#button').attr('disabled','disable');
    }
    else{
      console.log("Включить");
      $('#button').removeAttr('disabled');
    }
  });
});
</script>

<% if notice == 'create' %>
  <p>Объявление успешно создано и в данный момент проходит модерацию</p>
<% end %>

<div class="jumbotron">
    <h2><%= @truck.brand %> <%= @truck.model %></h2>
    <div>
      <div class="fotorama" data-nav="thumbs">
        <% @pic.each do |pic| %>
          <a href="<%= pic.image.url(:large) %>"><%= image_tag pic.image.url(:large) %></a>
        <% end %>
      </div>

      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead> 
        <tbody>
          <tr>
            <td class="text-primary">
              Регион
            </td>
            <td>
              <%= @truck.region %>
            </td>
          </tr>      
          <tr>
            <td class="text-primary">
              Город
            </td>
            <td>
              <%= @truck.city %>
            </td>
          </tr>
          <tr>
            <td class="text-primary">
              Вид т.с.
            </td>
            <td>
              <%= @truck.type_avto %>
            </td>
          </tr>
          <tr>
            <td class="text-primary">
              Марка
            </td>
            <td>
              <%= @truck.brand %>
            </td>
          </tr>
          <tr>
            <td class="text-primary">
              Модель
            </td>
            <td>
              <%= @truck.model %>
            </td>
          </tr>
          <tr>
            <td class="text-primary">
              Год выпуска
            </td>
            <td>
              <%= @truck.year %>
            </td>
          </tr>
          <tr>
            <td class="text-primary">
              Пробег
            </td>
            <td>
              <%= @truck.mileage %>
            </td>
          </tr>       
          <tr>
            <td class="text-primary">
              Двигатель
            </td>
            <td>
              <%= @truck.engine %>
            </td>
          </tr> 
          <tr>
            <td class="text-primary">
              Объем двигателя(л)
            </td>
            <td>
              <%= @truck.engv %>
            </td>
          </tr> 
          <tr>
            <td class="text-primary">
              Наработка(часов)
            </td>
            <td>
              <%= @truck.hofuse %>
            </td>
          </tr> 
          <tr>
            <td class="text-primary">
              Состояние
            </td>
            <td>
              <%= @truck.status %>
            </td>
          </tr>         
          <tr>
            <td class="text-primary">
              Цена
            </td>
            <td class="text-success">
              <strong> <%= @truck.price %> руб. </strong>
            </td>
          </tr> 
        </tbody>
      </table> 
    </div>            
    <div>
        <%= @truck.desc %> <br><br> 
    </div>
    <% if can? :update_truck, @truck %>
      <a href="<%= edit_truck_path(@truck) %>" class="btn btn-success">Редактировать</a>
    <% end %>

    <a href="#new_bid" id="popup" class="btn btn-success">Оставить заявку</a>

    <a href="<%= trucks_path %>" class="btn btn-default">Назад</a>
    <div class="hidden">
      <form class="new_bid" id="new_bid">
        <p><strong>Оставьте свои контактные данные,<br>
             наш менеджер с Вами свяжется.</strong></p>
        <input type="text" name="bid[fname]" placeholder="Имя" /><br>
        <input type="text" name="bid[lname]" placeholder="Фамилия" /><br>
        <input type="text" name="bid[patr]" placeholder="Отчество" /><br>
        <input type="tel" name="bid[tel]" placeholder="Телефон" /><br>
        <input type="email" name="bid[email]" placeholder="Email" /><br>

        <input type="checkbox" class="check" checked="true" id="check" name="bid[terms]"> Я согласен с политикой конфиденциальности. 

        <div><a target="_blank" href="../home/terms">Политика конфиденциальности</a></div>

        <input class="hidden" name="bid[offer]" value="<%= @truck.id %>"></p>
        <input class="hidden" name="bid[aut_type]" value="truck"></p>
        <button class="button" id="button" type="submit" >Отправить</button>
      </form>
    </div>
</div>