<table class="table table-striped table-hover ">
  <thead>
    <tr class="info">
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>Телефон</th>
      <th>Номер объявления</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.fname %></td>
        <td><%= bid.lname %></td>
        <td><%= bid.patr %></td>
        <td><%= bid.tel %></td>
        <% if bid.aut_type == "car" %>
          <td><a href="/cars/<%= bid.offer_id %>"><%= bid.offer_id %></a></td>
          <% else %>
            <% if bid.aut_type == "truck" %>
              <td><a href="/trucks/<%= bid.offer_id %>"><%= bid.offer_id %></a></td>
              <% else %>
                <td><a href="/equips/<%= bid.offer_id %>"><%= bid.offer_id %></a></td>
            <% end %>
        <% end %>
        <td>
          <%= link_to "Закрыть", bid, :method => 'post', data: { id: bid.id }%> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
