<h1>Редактирование предложения</h1>

<%= form_for(@equip,html: { multipart: true, :class => "form-horizontal" }) do |f| %>
  <% if @equip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equip.errors.count, "error") %> prohibited this equip from being saved:</h2>

      <ul>
      <% @equip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>  

    <div class="form-group">
      <label class="col-sm-2 control-label" for="region">Регион:</label>
      <div class="col-sm-4">
        <%= f.select :region, options_for_select(Region.all.collect {|region| [region.name]},0),{:include_blank => "Выберите регион..."},{class: "form-control input-sm", type: "text"} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="city">Город:</label>
      <div class="col-sm-4">
        <%= f.select :city, options_for_select({},0),{:include_blank => "Выберите город..."},{class: "form-control input-sm", type: "text"} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="car_type">Тип</label>
      <div class="col-sm-4">
        <%= f.select :equip_type, options_for_select(["Промышленное","Пищевое","Торговое","Другое..."], selected: @equip.equip_type),{:include_blank => "Выберите тип..."},{class: "form-control input-sm"} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Марка</label>
      <div class="col-sm-4">
        <p class: "form-control input-sm"><%= @equip.brand %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Модель</label>
      <div class="col-sm-4">
        <p class: "form-control input-sm"><%= @equip.model %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Год выпуска</label>
      <div class="col-sm-4">
        <%= f.number_field :year, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="probeg">VIN-код:</label>
      <div class="col-sm-4">
        <%= f.text_field :vin_code, class: "form-control input-sm " %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Наработка(часов)</label>
      <div class="col-sm-4">
        <%= f.number_field :hofuse, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Состояние</label>
      <div class="col-sm-4">
        <%= f.select :status, options_for_select(["Отличное","Хорошее","Удовлетворительное","Плохое"], selected: @equip.status),{},{class: "form-control input-sm"} %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="photo">Фото</label>
      <div class="col-sm-4">
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="offer_desc">Описание</label>
      <div class="col-sm-4">
        <%= f.text_area :desc, class: "form-control", cols: 50, rows: 7  %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="price">Цена:</label>
      <div class="col-sm-4">
        <%= f.text_field :price, class: "form-control input-sm" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-4 col-lg-offset-2">
        <%= f.submit "Создать", class: "btn btn-primary"%>
        <%= link_to 'Закрыть', @equip, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
        <a href="<%= equips_path %>" class="btn btn-default">Назад</a>
      </div>
    </div>
  </fieldset>
<% end %>