<div class="page-header">
  <h2>Список оборудования:</h2>
</div>

<table class="table table-striped table-hover ">
  <thead>
  </thead>

  <tbody>
    <% @equips.each do |equip| %>
     <!-- Обеспечение клика по строке -->
      <tr onclick="window.location = 'equips/<%= equip.id %>'">
        <% if equip.pictures.first %>
          <td width="200px"><%= image_tag equip.pictures.first.image.url(:small) %></td>
          <% else %>
            <td>НЕТ ФОТО</td>
        <% end %>
        <td style="cursor: pointer;"><strong><%= equip.brand %> <%= equip.model %>, <%= equip.year %><br></strong>
                    <%= number_with_delimiter(equip.price, precision: 0, delimiter: " ") %> руб.<br>
                    <%= equip.region %>, <%= equip.city %><br><br>
                    Объявление создано:<br>
                    <%= equip.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @equips %>
<br>
