<script>
  $(function() {
      $('.spoiler-body').hide();
      $('.spoiler-head').click(function(){
          $(this).next().toggle();
      })
  });

$(document).on('page:load',function(){
  $(":checkbox").change(function() {
    if (!$(this).is(":checked")){
      console.log("Выключить");
      $('#button').attr('disabled','disable');
    }
    else{
      console.log("Включить");
      $('#button').removeAttr('disabled');
    }
  });
  $("#popup").magnificPopup();

  $("#new_bid").submit(function() {
    $.ajax({
      type: "POST",
      dataType: 'script',
      url: "bids/create",
      data: $(this).serialize()
    }).done(function() {
      alert($(this).serialize());
    });
  });
});
</script>

<style type="text/css">
  .spoiler-head
  {
      cursor: pointer;
      color: #FF6816;
      padding-top: 20px;
  }

  .spoiler-body
  {
      border-top: 1px solid #C3CBD1;
      padding-bottom: 20px;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <h2><%= @equip.brand %> <%= @equip.model %></h2>

<div>
    <div class="fotorama" data-nav="thumbs">
      <% @pic.each do |pic| %>
        <a href="<%= pic.image.url(:large) %>"><%= image_tag pic.image.url(:large) %></a>
      <% end %>
    </div>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead> 
      <tbody>
        <tr>
          <td class="text-primary">
            Регион
          </td>
          <td>
            <%= @equip.region %>
          </td>
        </tr>
        <tr>
          <td class="text-primary">
            Город
          </td>
          <td>
            <%= @equip.city %>
          </td>
        </tr>
        <tr>
          <td class="text-primary">
            Вид оборудования
          </td>
          <td>
            <%= @equip.equip_type %>
          </td>
        </tr>
        <tr>
          <td class="text-primary">
            Марка
          </td>
          <td>
            <%= @equip.brand %>
          </td>
        </tr>
        <tr>
          <td class="text-primary">
            Модель
          </td>
          <td>
            <%= @equip.model %>
          </td>
        </tr>
        <tr>
          <td class="text-primary">
            Год выпуска
          </td>
          <td>
            <%= @equip.year %>
          </td>
        </tr>
        <tr>
          <td class="text-primary">
            Наработка(часов)
          </td>
          <td>
            <%= @equip.hofuse %>
          </td>
        </tr> 
        <tr>
          <td class="text-primary">
            Состояние
          </td>
          <td>
            <%= @equip.status %>
          </td>
        </tr> 
        <tr>
          <td class="text-primary">
            Цена
          </td>
          <td class="text-success">
            <strong> <%= number_with_delimiter(@equip.price, precision: 0, delimiter: " ") %> руб. </strong>
          </td>
        </tr> 
      </tbody>
    </table> 
</div> 
<div>
    <%= @equip.desc %> <br><br> 
</div>
    <% if can? :update_equip, @equip %>
      <a href="<%= edit_equip_path(@equip) %>" class="btn btn-success">Редактировать</a>
    <% end %>

    <a href="#new_bid" id="popup" class="btn btn-success">Оставить заявку</a>

    <a href="<%= equips_path %>" class="btn btn-default">Назад</a>

    <% if can? :show_moder_panel, @equip %>
      <div class="spoiler-head">Информация о партнере</div>
      <div class="spoiler-body">Компания: <%= @user.comp_name %><br>
                                Сайт:     <%= @user.site %> <br>
                                ФИО осн. контактного лица: <%= @user.fio_main_person %> <br>
                                Телефон основного лица:  <%= @user.gor_tel_main %> <br>
                                ФИО доп. контактного лица: <%= @user.fio_dop_person %> <br>
                                Телефон дополнительного лица: <%= @user.gor_tel_dop %> <br>
      </div>
    <% end %>
</div>
    <div class="hidden">
      <form class="new_bid" id="new_bid" action="../bids/create">
        <p><strong>Оставьте свои контактные данные,<br>
             наш менеджер с Вами свяжется.</strong></p>
        <input type="text" name="bid[fname]" placeholder="Имя" required /><br>
        <input type="text" name="bid[lname]" placeholder="Фамилия" required /><br>
        <input type="text" name="bid[patr]" placeholder="Отчество" required /><br>
        <input type="tel" name="bid[tel]" placeholder="Телефон" required /><br>
        <input type="email" name="bid[email]" placeholder="Email" required /><br>

        <input type="checkbox" checked="true" class="check" id="check" name="bid[terms]"> Я согласен с <a target="_blank" href="../home/terms"> политикой конфиденциальности. </a>

        <input class="hidden" name="bid[offer]" value="<%= @equip.id %>"></p>
        <input class="hidden" name="bid[aut_type]" value="equip"></p>
        <button class="button" id="button" type="submit" >Отправить</button>
      </form>
    </div>