<% if notice == 'comment' %>
  <h2 id="notice">Спасибо большое за комментарий!</h2>
<% end %>

<div class="page-header">
  <h2>Последние добавления:</h2>
</div>
<p class="text-danger"><%= flash[:alert] %></p>
<table class="table table-striped table-hover ">
  <thead>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
     <!-- Обеспечение клика по строке -->
      <tr onclick="window.location = 'cars/<%= car.id %>'" width>
        <% if car.pictures.first %>
          <td width="200px"><%= image_tag car.pictures.first.image.url(:small) %></td>
          <% else %>
            <td>НЕТ ФОТО</td>
        <% end %>
        <td style="cursor: pointer;"> <strong><%= car.brand %> <%= car.model %>, <%= car.year %><br></strong>
                    <%= number_with_delimiter(car.price, precision: 0, delimiter: " ") %> руб.<br>
                    <%= car.region %>, <%= car.city %><br><br>
                    Объявление создано:<br>
                    <%= car.created_at %>
        </td>
      </tr>
    <% end %>
    <% @trucks.each do |truck| %>
     <!-- Обеспечение клика по строке -->
      <tr onclick="window.location = 'trucks/<%= truck.id %>'">
        <% if truck.pictures.first %>
          <td width="200px"><%= image_tag truck.pictures.first.image.url(:small) %></td>
          <% else %>
            <td>НЕТ ФОТО</td>
        <% end %>
        <td style="cursor: pointer;"><strong><%= truck.brand %> <%= truck.model %>, <%=truck.year%><br></strong>
                    <%= number_with_delimiter(truck.price, precision: 0, delimiter: " ") %> руб.<br>
                    <%= truck.region %>, <%= truck.city %><br><br>
                    Объявление создано:<br>
                    <%= truck.created_at %>
        </td>
      </tr>
    <% end %>
    <% @equips.each do |equip| %>
     <!-- Обеспечение клика по строке -->
      <tr onclick="window.location = 'equips/<%= equip.id %>'">
        <% if equip.pictures.first %>
          <td width="200px"><%= image_tag equip.pictures.first.image.url(:small) %></td>
          <% else %>
            <td>НЕТ ФОТО</td>
        <% end %>
        <td style="cursor: pointer;"><strong><%= equip.brand %> <%= equip.model %>, <%= equip.year %><br></strong>
                    <%= number_with_delimiter(equip.price, precision: 0, delimiter: " ") %> руб.<br>
                    <%= equip.region %>, <%= equip.city %><br><br>
                    Объявление создано:<br>
                    <%= equip.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
