<% if notice == 'create' %>
	<p id="notice">Объявление успешно добавлено и в данный момент проходит модерацию</p>
<% end %>

<% if notice == 'update' %>
	<p id="notice">Объявление успешно отредактировано</p>
<% end %>

<% if notice == 'destroy' %>
	<p id="notice">Объявление успешно удалено</p>
<% end %>

  <div class="jumbotron">
    <h1><%= @offer.title %></h1>
    <p class="text-primary">Описание предложения:</p>
    <p><%= @offer.desc %></p>
    <p class="text-primary">Город:</p>
    <p><%= @offer.city %></p>
    <p class="text-primary">Телефон:</p>
    <p class="text-danger"><%= @offer.tel %> </p>
    <% if can? :update, Offer %>
      <a href="<%= edit_offer_path(@offer) %>" class="btn btn-success">Редактировать</a>
    <% end %>
    <a href="<%= offers_path %>" class="btn btn-default">Назад</a>
  </div>
